* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/*Flex Box Stuff*/

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

/*bee color  f9c041*/
/*whit yelle EBEBD3*/
/*bkaclikght 3C3C3B*/
/*better black  2f2f2f*/
/*better but dark 202020*/
.clearfloat {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}