* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/*Flex Box Stuff*/

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

/*bee color  f9c041*/
/*whit yelle EBEBD3*/
/*bkaclikght 3C3C3B*/
/*better black  2f2f2f*/
/*better but dark 202020*/
.clearfloat {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}

.shadow {
    -moz-box-shadow:    0 0px 20px #000000;
    -webkit-box-shadow: 0 0px 20px #000000;
    box-shadow:         0 0px 20px #000000;
}

.shadow-center {
    -moz-box-shadow:    0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow:         0px 0px 20px #000000;
}
.inner-shadow {
    -moz-box-shadow:    inset 0 -10px 20px #000000;
    -webkit-box-shadow: inset 0 -10px 20px #000000;
    box-shadow:         inset 0 -10px 20px #000000;
}

.yellow-period {
    color: #f9c041;
}

body {
    /*font-family: 'Fjalla One', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    /*background-image: url('../resources/background15.jpg');*/
    /*background-repeat: repeat;*/
    background-color: #202020;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
}

.followHeader {
    background-color: #202020;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul {
    width: 100%;
    list-style: none;
}
nav ul li {
    width: 15%;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

nav ul li a {
    height: 50px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
}

nav ul li a:hover {
    color: #f9c041;
}


header img {
    position: fixed;
    width: 150px;
    top: 0;
    left: 15%;
    padding: 5px;
    border-left: 5px solid #f9c041;
    border-right: 5px solid #f9c041;
    border-bottom: 5px solid #f9c041;
    background-color: #202020;
}

.followLogo {
    width: 100px;
}

#home {
    position: relative;
    height: 900px;
    background-color: #202020;
}

#home h1 {
    position: absolute;
    top: 25%;
    left: 0;
    color: #ffffff;
    font-size: 8rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
    letter-spacing: -.75rem; 
}

#home h1 #h1-description {
    display: block;
    width: 100%;
    font-size: 2rem;
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5);
    letter-spacing: normal; 
}

#home #hero-shot {
    width: 90%;
    height: 1000px;
    background-image: url(../resources/mrBeeBackSideMailer.jpg);
    background-size: cover;
    background-position: center;
}

#home img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#home #call-to-action {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 25%;
    left: 0;
    z-index: 3;
}

#home #call-to-action p {
    height: 100px;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
    color: #fefefe;
    background-color: #f9c041;
}

#home #call-to-action span {
    color: #111111;
    font-weight: 700;
}

#home #call-to-action a {
    text-decoration: none;
    color: #111111;
    font-weight: 700;
}

#info-section {
    position: relative;
    width: 100%;
    background-color: #f9c041;
    height: 700px;
}

#info-section-left {
    float: left;
    width: 100%;
    height: 100%;
    background-image: url(../resources/jasonPop.jpg);
    background-position: 10% 0%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

#info-section-right {
    position: absolute;
    right: 5%;
    top:10%;
    padding: 2.5%;
    width: 30%;
    background-color: #ffffff;
}

#info-section-right h3 {
    background-color: #ffffff;
    width: 100%;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #000;
    border-bottom: 5px solid #f9c041;
}

#info-section-right p {
    margin: auto;
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #000;
}

#services-section h2 {
    padding: 50px;
    color: #202020;
    font-weight: 900;
    font-size: 4rem;
}

#services-section {
    background-color: #ffffff;
}

#services-section h3 {
    font-size: 3rem;
    border-bottom: 5px solid #f9c041;
}

#services-section #services-container {
    width: 50%;
    margin-left: 10%;
}

#services-section #services-container p {
    width: 60%;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 500;
}

#services-section img {
    float: right;
    padding: 50px;
}
/*
    =======\
    ======== Services =============>
    =======/
*/

#services {
    background-color: #202020;
    overflow: hidden;
}

.service {
    float: left;
    width: 100%;
    background-color: #fff;
    /* margin: 1% 1% 1% 1%; */
    padding-bottom: 25px;
    /* margin-bottom: -100%; */
    margin-bottom: 50px;

}

.service h4 {
    display: inline-block;
    /*margin-top: 5%;*/
    width: 50%;
    text-align: left;
    font-size: 2.5rem;
    float: right;
    border-bottom: 5px solid #f9c041;
    /*margin-right: 5%*/

    margin: 5% 5% 5% 0;
}

.service p {
    text-align: left;
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 5%;
    width: 50%;
    float:right;
}


.service div {
    margin-left: 2.5%;
    margin-top: 2.5%;
    height: 400px;
    width: 35%;
    float: left;
}

#service-one div {
    background-image: url(../resources/preventative-treatment3.png);
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

#service-two div {
    background-image: url(../resources/nest-treatment.png);
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

#service-three div {
    background-image: url(../resources/nuisance-insect.png);
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

/*
    =======\
    ======== Pest Identification =============>
    =======/
*/

#pest-container {
    padding: 50px;
}

.pests {
    position: relative;
    background-color: #fff;
    width: 22%;
    margin: 50px 1.5%;
    float: left;
    height: 350px;
    text-decoration: none;
    color: #202020;
}

.pests h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    width: 100%;
}

.pests img {
    width: 100%;
    /* height: auto; */
    /* float: left; */
}

.pests p {
    font-size: 1.7rem;
    position: absolute;
    bottom: -25px;
    right: 0;
    background-color: #ffffff;
    padding: 0 2.5%;
}

/*
    =======\
    ======== Pests =============>
    =======/
*/

#pest {
    background-color: #ffffff;
    padding: 50px 0;
}

#pest h2 {
    width: 50%;
    margin: 0 auto;
    color: #202020;
}

#pest p {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 25px;
}

#pest img {
    float: left;
    max-width: 500px;
}

/*
    =======\
    ======== Services Area =============>
    =======/
*/

#service-area {
    background-color: #ffffff;

}
#service-area-img {
    background-image: url('../resources/map.png');
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100%;
    width: 100%;
}


#service-area #service-area-message {
    padding: 5%;
    font-size: 2rem;
    font-weight: 900;
    width: 90%;
    background-color: rgba(255, 255, 255, 1);
    float: left;
}

#service-area-message a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

#service-area #list-title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    background-color: #f9c041;
    padding: 0%;
}

#service-area ul {
    list-style: none;
    background-color: #ffffff;
    color: #000000;
    padding: 5%;
}

#service-area ul li {
    font-weight: 900;
    font-size: 1.2rem;
    padding: 5px 10px;
    float: left;
}

#service-area-left {
    float: left;
    width: 50%;
    background-color: #ffffff;
}

#service-area-right {
    float: right;
    width: 50%;
    height: 900px;
    background-color: #ffffff;
}
footer {
    height: 100px;
    background-color: #f9c041;
}

footer #footer-logo {
    height: 100px;
    width: 50%;
    float: right;
    background-image: url('../resources/BeeLogoDark250x250.png');
    background-position: right;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */

}

@media (max-width: 1000px) {
    
    section {
        width: 100%;
    }
    #info-section-left {
        width: 100%;
    }

    #info-section-left img {
        width: 80%;
    }
    #info-section-right {
        width: 100%;
        height: 300px;
        background-color: #f9c041;
    }
 }