/* General Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Rajdhani", sans-serif;
  color: #202020;
  line-height: 1.6;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.navbar-toggle {
  display: none;
  background-color: #202020;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

/* Navbar Styles */
.navbar {
  background-color: #202020;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f9c041;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
}

.navbar-nav li {
  padding: 0 25px;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-nav a:hover {
  color: #f9c041;
}
/* Header Styles */
header {
  background: #202020;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-size: 1.5rem;
  background-image: url("../resources/GiantBlackLogo.png");
  background-position: center;
  background-size: cover;
}
header img {
  position: fixed;
  width: 100px;
  top: 0;
  left: 7%;
  padding: 5px;
  border-left: 5px solid #f9c041;
  border-right: 5px solid #f9c041;
  border-bottom: 5px solid #f9c041;
  background-color: #202020;
}

.header-content h1 {
  color: #ffffff;
  font-size: 12rem;
  font-weight: 500;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  -webkit-transform: scaleY(0.6);
  transform: scaleY(0.6);
  letter-spacing: -0.75rem;
  line-height: 10rem;
}

.header-content #h1-description {
  display: block;
  width: 80%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  letter-spacing: normal;
}
.yellow-period {
  color: #f9c041;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background: #f9c041;
  color: #fff;
  padding: 10px 5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
  margin: 50px 0;
  text-align: center;
}

.number {
  font-size: 4rem;
  color: #202020;
}

/* About Service Section */
.about-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

.about-service .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.about-service .image-container {
  width: 50%;
  height: 500px;
  background-image: url("../resources/JasonCutout.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.tagline {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  gap: 10px;
}

.tagline h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #202020;
  margin: 0 0 10px 0;
}

.section-bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: url("../resources/herCombCradleTwo.png") no-repeat center top;
  background-size: cover;
}

/* Services Section */
.services {
  background-color: #202020;
}
.services h2 {
  background-color: #fff;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 5px solid #f9c041;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  padding: 20px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), 1fr));
  gap: 20px;
  width: 100%;
}

.service-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-between;
}

.service-item h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #202020;
  margin-bottom: 10px;
  min-height: 4rem;
}

.service-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  font-weight: 500;
  flex-grow: 1;
}

.service-link {
  align-self: flex-end;
  margin-top: 25px;
  text-decoration: none;
  background-color: #f9c041;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.service-link:hover,
.service-link:focus {
  background-color: #e89c30;
}

/* Service Area Section */

.service-area {
  background-color: #ebecec;
  padding-bottom: 25px;
}

.service-area h2 {
  text-align: left;
  font-size: 3rem;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 2px solid #f9c041;
}

.service-area p {
  font-weight: 700;
}

.service-area .container {
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
  align-items: stretch;
}

.map-area {
  margin-top: 20px;
  width: 50%;
  background-image: url("../resources/wisconsin19WhiteBoarder.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cities-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 20px;
}

.cities-grid span {
  text-align: left;
  font-weight: 900;
  font-size: 1rem;
}

/* Counter Section */
.counter-section {
  text-align: center;
  margin: 40px auto;
  font-size: 3rem;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
}

#counter {
  font-weight: bold;
  color: #f9c041;
}

/* Additional styling for "dead wasps" text to differentiate from the counter */
.counter-section span + text {
  font-size: 20px;
  color: #202020;
  margin-left: 10px;
}
/* Footer Styles */
footer {
  background: #202020;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* THIS IS FOR THE SEPERATE PAGES ON TREATMENTS */

/* Base styles for all treatment pages */
.treatment-page .container {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

.treatment-page h1,
.treatment-page h2 {
  color: #202020;
}

.treatment-page p,
.treatment-page li {
  color: #555;
}

.treatment-page ul {
  padding-left: 20px;
}

/* Preventative Treatment Page Specific Styles */
.preventative-treatment .service-highlight {
  background-color: #f9f3e4;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid #f9c041;
}

/* Nest Treatment Page Specific Styles */
.nest-treatment .service-highlight {
  background-color: #e4f9f3;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid #8bc34a;
}

/* Nuisance Insect Treatment Page Specific Styles */
.nuisance-insect-treatment .service-highlight {
  background-color: #e4eaf9;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid #3f51b5;
}

/* Common styles for "Learn More" links across all treatment pages */
.treatment-page .service-link {
  background-color: #f9c041;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.treatment-page .service-link:hover {
  background-color: #e89c30;
}

/* Responsive Design */
@media (max-width: 980px) {
  header {
    font-size: 1rem;
  }
  .cta-button {
    font-size: 1.5rem;
  }
  .tagline h2 {
    font-size: 3.5rem;
  }

  .section-bottom-image {
    height: 30%;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-toggle {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-nav {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar.active .navbar-nav {
    display: flex;
  }

  .navbar-nav li {
    padding: 10px 15px;
  }

  .navbar-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  header {
    padding: 50px 0 25px 0;
  }

  .header-content h1 {
    font-size: 6rem;
  }

  .header-content #h1-description {
    display: block;
    width: 100%;
    font-size: 2rem;
  }

  .cta-button {
    background: #f9c041;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
  }

  .counter-section {
    display: none;
  }

  .number {
    font-size: 2rem;
  }

  /* Jason Section */
  .about-service {
    background-color: #f9c041;
    padding: 0;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  .about-service .container {
    padding: 0;
    gap: 0;
    flex-direction: column;
  }

  .about-service .image-container {
    width: 80%;
    height: 250px;
    background-image: url("../resources/JasonCutout.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .tagline {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    border: none;
    border-bottom: 2px solid #f9c041;
  }

  .tagline h2 {
    line-height: 2rem;
    font-size: 2.5rem;
    margin: 10px 0;
  }
  /* SERVICES SECTION */
  .services-wrapper {
    grid-template-columns: 1fr;
  }

  .service-item {
    min-width: 100%;
  }

  .section-bottom-image {
    height: 0%;
  }

  /* Additional adjustments for mobile layout */
  .header-content,
  .services,
  .service-area,
  footer {
    text-align: center;
  }

  .cta-button {
    display: block;
    width: 90%;
    margin: 20px auto;
  }

  .content-area {
    flex-direction: column;
  }

  .map-area,
  .cities-grid {
    flex: none;
    width: 100%;
  }

  /* THE TREATMENT PAGES */

  .treatment-page .container {
    padding: 15px;
  }

  .treatment-page h1,
  .treatment-page h2 {
    font-size: 2rem;
  }

  .treatment-page p,
  .treatment-page li {
    font-size: 1rem;
  }

  .treatment-page ul {
    padding-left: 15px;
  }

  .service-highlight {
    padding: 10px;
    margin-bottom: 15px;
  }

  .service-link {
    font-size: 1.25rem;
    padding: 12px 20px;
    margin-top: 20px;
  }

  .services h2 {
    font-size: 2rem;
  }

  .service-area h2 {
    font-size: 2rem;
  }
}
